@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes arrowMove {
  0% { transform: translateX(-5px); opacity: 0.6; }
  50% { transform: translateX(5px); opacity: 1; }
  100% { transform: translateX(-5px); opacity: 0.6; }
}

.animate-arrow {
  animation: arrowMove 1.5s infinite;
}

@keyframes pulseSlow {
  0% { transform: scale(1); }
  50% { transform: scale(1.06); }
  100% { transform: scale(1); }
}

.animate-pulse-slow {
  animation: pulseSlow 2.5s infinite;
}

@keyframes iconPulse {
  0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(47,93,58,0.4); }
  70% { transform: scale(1.05); box-shadow: 0 0 0 12px rgba(47,93,58,0); }
  100% { transform: scale(1); }
}

.animate-iconPulse {
  animation: iconPulse 2.5s infinite;
}

@keyframes waveMove {
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -100; }
}

.wave-path {
  stroke-dasharray: 10 10;
  animation: waveMove 6s linear infinite;
}

.progress-line {
  transform-origin: left;
}

.glow-card:hover {
  box-shadow:
    0 10px 30px rgba(0,0,0,0.08),
    0 0 20px rgba(47,93,58,0.25);
}

.glass {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.orbit {
  position: relative;
  width: 520px;
  height: 520px;
  margin: auto;
  animation: orbitRotate 25s linear infinite;
}

.orbit-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.center-logo{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:10;
}

/* logo style */

.logo{
  animation:logoFix 25s linear infinite;
}

.logo img{
  transition:all .35s ease;
  filter:grayscale(100%);
}

/* hover */

.logo:hover img{
  transform:scale(1.15);
  filter:grayscale(0%);
}

/* container quay */
@keyframes orbitRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* logo quay ngược lại để luôn thẳng */
@keyframes logoFix {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

.cert {
  animation: float 4s ease-in-out infinite;
}